* {
  padding: 0;
  margin: 0;
  line-height: 0;
}

/* img { */
/*   padding: 1px; */
/* } */

/* Browsers round fractional dimensions of pixels differently.
 * To avoid ugly off by one errors cut out a box slighly smaller
 * than the desired size. */
row {
  display: block; /* appear on new line */
  max-width: 499px;
  overflow: hidden; /* hide anything that doesn't fit */
  white-space: nowrap; /* don't wrap photos if they don't fit in max-width */
}
