:root {
  --white: rgb(230, 230, 230);
  --moderate-zoom-factor: 2;
}

/* always take into account the url bar on Android/iOS:
   https://developers.google.com/web/updates/2016/12/url-bar-resizing */
html,
body {
  height: 100%;
}

/* System Fonts as used by GitHub */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: black;
  color: var(--white);
  overflow: hidden;
}

.hide {
  display: none !important;
}

.photo-normal {
  display: block;
  max-width: 90%;
  max-height: 90%;
  /* transform: translate(264px, 0px); */
}

.loading {
  margin: 0 auto;
}

.smooth-transitions {
  transition-property: transform;
  transition-duration: 0.025s;
}

.photo-zoom {
  max-width: 150%;
  max-height: 150%;
}

.smooth-zoom {
  transition-property: max-width, max-height, transform;
  transition-duration: 0.5s;
}

/* .zoom-moderate {
  animation-duration: 0.3s;
  animation-name: zoom-to-moderate;
  animation-fill-mode: forwards;
}

@keyframes zoom-to-moderate {
  to {
    transform: scale(var(--moderate-zoom-factor));
  }
} */

.exif-row {
  text-align: center;
}

.exif-tag {
  padding-right: 0.35em;
}

#loading {
  width: 50vw;
  height: 90vh;
  border-radius: 3px;

  animation-duration: 0.7s;
  animation-name: loading-blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes loading-blink {
  from {
    background-color: rgb(190, 190, 190);
  }

  to {
    background-color: var(--white);
  }
}
